Project/WebContent/wsdl/CreateMenu.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="removeMenuItems">
    <complexType>
     <sequence>
      <element name="menuID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeMenuItemsResponse">
    <complexType>
     <sequence>
      <element name="removeMenuItemsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addMenuItems">
    <complexType>
     <sequence>
      <element name="menuID" type="xsd:int"/>
      <element name="name" type="xsd:string"/>
      <element name="price" type="xsd:int"/>
      <element name="category" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addMenuItemsResponse">
    <complexType>
     <sequence>
      <element name="addMenuItemsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="removeMenuItemsRequest">

      <wsdl:part element="impl:removeMenuItems" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addMenuItemsRequest">

      <wsdl:part element="impl:addMenuItems" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addMenuItemsResponse">

      <wsdl:part element="impl:addMenuItemsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeMenuItemsResponse">

      <wsdl:part element="impl:removeMenuItemsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CreateMenu">

      <wsdl:operation name="removeMenuItems">

         <wsdl:input message="impl:removeMenuItemsRequest" name="removeMenuItemsRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeMenuItemsResponse" name="removeMenuItemsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addMenuItems">

         <wsdl:input message="impl:addMenuItemsRequest" name="addMenuItemsRequest">

       </wsdl:input>

         <wsdl:output message="impl:addMenuItemsResponse" name="addMenuItemsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CreateMenuSoapBinding" type="impl:CreateMenu">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="removeMenuItems">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeMenuItemsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeMenuItemsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addMenuItems">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addMenuItemsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addMenuItemsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CreateMenuService">

      <wsdl:port binding="impl:CreateMenuSoapBinding" name="CreateMenu">

         <wsdlsoap:address location="http://localhost:8080/Project/services/CreateMenu"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
