Project/WebContent/wsdl/Delivery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getDeliveryDetails">
    <complexType>
     <sequence>
      <element name="deliveryId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDeliveryDetailsResponse">
    <complexType>
     <sequence>
      <element name="getDeliveryDetailsReturn" type="impl:DeliveryDetails"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="DeliveryDetails">
    <sequence>
     <element name="deliverId" type="xsd:int"/>
     <element name="orderId" type="xsd:int"/>
     <element name="status" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDeliveryDetailsResponse">

      <wsdl:part element="impl:getDeliveryDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDeliveryDetailsRequest">

      <wsdl:part element="impl:getDeliveryDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Delivery">

      <wsdl:operation name="getDeliveryDetails">

         <wsdl:input message="impl:getDeliveryDetailsRequest" name="getDeliveryDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDeliveryDetailsResponse" name="getDeliveryDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DeliverySoapBinding" type="impl:Delivery">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDeliveryDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDeliveryDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDeliveryDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DeliveryService">

      <wsdl:port binding="impl:DeliverySoapBinding" name="Delivery">

         <wsdlsoap:address location="http://localhost:8080/Project/services/Delivery"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
