Project/WebContent/wsdl/FOODPRE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="foodprep">
    <complexType>
     <sequence>
      <element name="PrepID" type="xsd:int"/>
      <element name="OrderID" type="xsd:int"/>
      <element name="Status" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="foodprepResponse">
    <complexType>
     <sequence>
      <element name="foodprepReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="foodprepRequest">

      <wsdl:part element="impl:foodprep" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="foodprepResponse">

      <wsdl:part element="impl:foodprepResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FOODPRE">

      <wsdl:operation name="foodprep">

         <wsdl:input message="impl:foodprepRequest" name="foodprepRequest">

       </wsdl:input>

         <wsdl:output message="impl:foodprepResponse" name="foodprepResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FOODPRESoapBinding" type="impl:FOODPRE">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="foodprep">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="foodprepRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="foodprepResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FOODPREService">

      <wsdl:port binding="impl:FOODPRESoapBinding" name="FOODPRE">

         <wsdlsoap:address location="http://localhost:8080/Project/services/FOODPRE"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
