Project/WebContent/wsdl/ShowMenu.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getMenuDetails">
    <complexType>
     <sequence>
      <element name="menuID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMenuDetailsResponse">
    <complexType>
     <sequence>
      <element name="getMenuDetailsReturn" type="impl:MenuDetails"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="MenuDetails">
    <sequence>
     <element name="menuId" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="price" nillable="true" type="xsd:string"/>
     <element name="category" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getMenuDetailsRequest">

      <wsdl:part element="impl:getMenuDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMenuDetailsResponse">

      <wsdl:part element="impl:getMenuDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ShowMenu">

      <wsdl:operation name="getMenuDetails">

         <wsdl:input message="impl:getMenuDetailsRequest" name="getMenuDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMenuDetailsResponse" name="getMenuDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ShowMenuSoapBinding" type="impl:ShowMenu">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMenuDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMenuDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMenuDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ShowMenuService">

      <wsdl:port binding="impl:ShowMenuSoapBinding" name="ShowMenu">

         <wsdlsoap:address location="http://localhost:8080/Project/services/ShowMenu"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
