Project/WebContent/wsdl/SignupAdmin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="adminsignup">
    <complexType>
     <sequence>
      <element name="FirstName" type="xsd:string"/>
      <element name="LastName" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="phn" type="xsd:int"/>
      <element name="add" type="xsd:string"/>
      <element name="pswrd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="adminsignupResponse">
    <complexType>
     <sequence>
      <element name="adminsignupReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="adminsignupResponse">

      <wsdl:part element="impl:adminsignupResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="adminsignupRequest">

      <wsdl:part element="impl:adminsignup" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SignupAdmin">

      <wsdl:operation name="adminsignup">

         <wsdl:input message="impl:adminsignupRequest" name="adminsignupRequest">

       </wsdl:input>

         <wsdl:output message="impl:adminsignupResponse" name="adminsignupResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SignupAdminSoapBinding" type="impl:SignupAdmin">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="adminsignup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="adminsignupRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="adminsignupResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SignupAdminService">

      <wsdl:port binding="impl:SignupAdminSoapBinding" name="SignupAdmin">

         <wsdlsoap:address location="http://localhost:8080/Project/services/SignupAdmin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
